.nav-bar {

    background-color: $colorPrimary;

     @mixin atMedium {
            &--sticky {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.98);
            box-shadow: 0 3px 3px #efefef; /* this means 0 on the x-axis, 2px on the y-axis and 2px blur*/
            z-index: 3;
        }
    
    }

    &__menu-icon {    
        color: #FFF;
        position: fixed;
        top: 5px;
        padding-left: 5px;
      
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #000;
             /* this means 0 on the x-axis, 2px on the y-axis and 2px blur*/
            z-index: 3;

        @mixin atMedium {
            display: none;
        }
    }

    &__ul {

        
        display: none;
        margin: 0;
        padding: 1.4rem;
        list-style: none;
        font-size: 1.4rem;
        font-weight: 300;
        
        @mixin atMedium {
            display: flex;
        }

         &--is-visible {
            display: block; 
            height: 100%;
            width: 250px;
            z-index: 1;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #f9f9f9;
            font-size: 1rem;
            overflow-x: hidden;
            padding-top: 60px;

        li a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 2.2rem;
                color: #818181;
                display: block;

                &:hover {
                   
                    color: $color-primary-hover;
                }
            }

       }

       &--is-expanded {

           display: none;

           @mixin atMedium {
               display: flex;
           }
       }


        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;

             @mixin atMedium {
                    display: none;
                }
          }

    }

    &__li {
        text-align: center;
        text-transform: uppercase;


        @mixin atMedium {
            &:not(:last-child) {
                padding-right: 6.5rem;
            }
         }



       }

        &__link {
            text-decoration: none;
            color: #000;

            &:hover {
                color: $color-primary-hover;
            }

            &-is-current-link{

                color:  #f39c1d;
                font-weight: 500;
            }
        }


}