.nav-bar {
    
   

    &__menu-icon {    
        color: #FFF;
        position: absolute;
        top: 5px;
        padding-left: 5px;

        @mixin atMedium {
            display: none;
        }
    }

    &__ul {        

         &--is-visible {
            display: block; 
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #f9f9f9;
            font-size: 1rem;
            overflow-x: hidden;
            padding-top: 60px;

         @mixin atMedium{
               display: flex;
               background-color: $colorPrimary;
                height: 2rem;
                width: 100%;
                margin: 0;
                padding: 1.4rem;
                list-style: none;
                font-size: 1rem;
                font-weight: 300;
           }

        li a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 2.2rem;
                color: #818181;
                display: block;

                @mixin atMedium {
                    padding: 0;
                    font-size: 1.4rem;
                    text-decoration: none;
                    color: #000;
                }

                &:hover {
                   
                    color: $color-primary-hover;
                }
            }

       }


        &--is-expanded {
            display: none;

                @mixin atMedium {
                display: flex;
            }
        }


        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;

             @mixin atMedium {
                    display: none;
                }
          }

    }


}