
.container {
    width: 100%;
}

.columns {
    display: block;

    @mixin atSmall {
        display: flex;
    }

    &:not(:last-child){
        margin-bottom: 2rem;
    }
}

.column-1-2{
    flex:1;
    justify-content: center;
    padding: 2.5rem;
}

.column-1-3{
    display: block;

     @mixin atMedium {
        flex:1;
        justify-content: center;
        padding: 2.5rem;
    
    }
}